

#GrandParent {
    height: 500px;
    width: 500px;
    background-color: red;
}

#Parent {
    height: 300px;
    width: 300px;
    background-color: grey;
}

#Child {
    height: 100px;
    width: 100px;
    background-color: yellow;
}

