<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/student" method="post" >
        <input type="text" name="name" id="name" placeholder="name">
        <input type="text" name="age" id="age" placeholder="age">
        <input type="text" name="class" id="class" placeholder="class">
        <input type="text" name="id" id="id" placeholder="id">
        <input type="submit" value="submit">
    </form>
</body>
</html>