.container {
    display: flex;
}

.item {
    height: 80px;
    width: 150px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.a {
    background-color: khaki;
    font-family: 'Palette Mosaic', cursive;
    
}

.b {
    background-color: lightcoral;
    
}

.c {
    background-color: lightpink;
    position: fixed;
    right: 0;
}



